.btn-white {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 6px 10.392px 17.22px 3.78px rgba(255, 255, 255, 0.21);
  color: $blue-dark;
  font-size: 16px;
  font-weight: 300;
  padding: 12px 25px;
  text-decoration: none;
}