
.icon-amanha-book:before { content: '\e800'; } /* '' */
.icon-amanha-chat:before { content: '\e801'; } /* '' */
.icon-amanha-flag:before { content: '\e802'; } /* '' */
.icon-amanha-us:before { content: '\e803'; } /* '' */
.icon-amanha-python:before { content: '\e804'; } /* '' */
.icon-amanha-rocket:before { content: '\e805'; } /* '' */